.тот_самый { 
color: rgb(120, 23, 124);
font-size: 25px;   
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 200px;
margin-left: 400px;
margin-right: 520px;
border: solid 3px rgb(245, 255, 55);
border-radius: 15px;
width: 700px;
background-color:yellow;
padding: 50px;
text-align: center ;
text-decoration:underline;
}  

.CCC{
margin-left: 665px;
margin-top: 50px;
font-size: xx-large;
}
.тот_самый:hover {
    background-color: aqua;
}