.bar{
list-style-type: none;
margin: 0;
padding-left: 0;
width: 200px;
font-size: 20px;
border:black solid 1px;
border-radius: 15px;
height: 597px;
position: fixed;
overflow: hidden    ;
background-color: aquamarine;
}
    
.a1 a {
display: block;
padding: 63px 10px;
text-decoration: none;
color: black;
border-bottom: black solid 1px;
text-align: center;
}
    
.a1 a:hover {
background-color: darkorange;
color: white;
}

.bar:last-child {
    border-bottom: none;
}

.bar.green {
background-color: lightgreen;
}